* {
    font-family: Arial, Helvetica, sans-serif;
    /*   Font-Size

    Medidas Absolutas
    cm, mm, in(polegadas), px, pt, pc

    Medidas Relativas
    em (mais utilizado), ex, rem, vw, vh, %
    16px geralmente = 1em */
    font-size: 1em;

    /* Font-Weight
    lighter normal bold bolder
    100 - 200 - 300 - 400 ~ 900 */   
}

h1 {
    /*font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: normal;
    font-style: italic; */
    
    /* shorthand font 
       - font-style -> font-weight -> font-size -> font-family  
    */
    font: italic lighter 3em Arial, Helvetica, sans-serif;
}

h2 {
    font: italic lighter 2em Arial, Helvetica, sans-serif;
}